{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/accountantMenu.css' %}">
    <link rel="stylesheet" href="{% static 'css/colorscheme.css' %}">
    <link rel="stylesheet" href="{% static 'css/new_navbar.css' %}">

    <meta charset="UTF-8">
    <title>Full-Stacks: Accountant Menu</title>
</head>
<body>
<div class = "navbar">
        <img src= "{% static 'images/navbarlogo.png' %}" class="logo" alt =" < $ > Full-Stacks">
    <div class="dropdown">
        <button class = "dropbtn"> Accounts</button>
                <div class="dropdown-content">
                    <a href="/users/manager/view_accounts/"> View Accounts </a>
                      <a href="/charts_accounts/view_event_log/"> Event Log</a>
                </div>
        </div>
        <div class="dropdown">
            <button class = "dropbtn">Journals</button>
                    <div class="dropdown-content">
                        <a href="/journals_ledger/journal_entry/"> Submit Journal Request </a>

                    </div>
        </div>

        <div class="dropdown">
            <button class = "dropbtn">Ledger</button>
                    <div class="dropdown-content">
                        <a href="/journals_ledger/ledger/"> View Ledger </a>

                    </div>
        </div>

        <div class="dropdown">
            <a href="{% static 'images/FULLSTACKS_Manual_t1.pdf' %}" id = "help"> Help</a>
        </div>
            <div class="dropdown"  id="profile">
            <div class="profile_tab">
                <div class="circle" id="profile_pic">
                     <img src= "{% static 'images/velociraptor.png' %}" class="profile_picture" alt ="..Load Image..">
                </div>
                <label for="profile_pic" class="profile_pic_label"> {{current_accountant}} </label>
                <div class="dropdown-content">
                    <a href="/users/"> Log Out </a>
                </div>
            </div>
            </div>

    </div>

</br></br>

    <div class="shape">
        </br>
        <p2>Welcome, Accountant</p2>
        </br></br>
        <form action="/users/accountant/view_accounts/">
            <input type="submit" value="View Accounts">
        </form>
        <form action="/journals_ledger/journal_entry/" method="get">
            <input type="submit" value="Submit Journal Request">
        </form>
        <form action="/users/">
            <input type="submit" value="Logout">
        </form>
    </div>
    </br></br>
</body>
</html>