{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/new_homepages.css' %}">
    <link rel="stylesheet" href="{% static 'css/colorscheme.css' %}">
    <link rel="stylesheet" href="{% static 'css/new_navbar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta charset="UTF-8">
    <title>Full-Stacks: Accountant Menu</title>
</head>
<body>
<div class = "navbar">
        <img src= "{% static 'images/navbarlogo.png' %}" class="logo" alt =" < $ > Full-Stacks">
    <div class="dropdown">
        <button class = "dropbtn"> Accounts</button>
                <div class="dropdown-content">
                    <a href="/users/manager/view_accounts/"> View Accounts </a>
                      <a href="/charts_accounts/view_event_log/"> Event Log</a>
                </div>
        </div>
        <div class="dropdown">
            <button class = "dropbtn">Journals</button>
                    <div class="dropdown-content">
                        <a href="/journals_ledger/journal_entry/"> Submit Journal Request </a>

                    </div>
        </div>

        <div class="dropdown">
            <button class = "dropbtn">Ledger</button>
                    <div class="dropdown-content">
                        <a href="/journals_ledger/ledger/"> View Ledger </a>

                    </div>
        </div>

        <div class="dropdown">
            <a href="{% static 'images/FULLSTACKS_Manual_t1.pdf' %}" id = "help"> Help</a>
        </div>
            <div class="dropdown"  id="profile">
            <div class="profile_tab">
                <div class="circle" id="profile_pic">
                     <img src= "{% static 'images/velociraptor.png' %}" class="profile_picture" alt ="..Load Image..">
                </div>
                <label for="profile_pic" class="profile_pic_label"> {{current_accountant}} </label>
                <div class="dropdown-content">
                    <a href="/users/"> Log Out </a>
                </div>
            </div>
            </div>

    </div>

</br></br>
</br></br> </br></br></br> 
    <h1 class="header1"> Welcome back, Accountant</h1>
    <h2 class="header2">Let's get started!</h2>

    </br></br></br></br> </br></br></br></br> </br></br></br></br> 
    <div class="container">
        <h1 class="menu1"><i class="fa fa-eye fa-3x"></i></h1>
        <h1 class="menu1"> <a class="link" href="/journals_ledger/journal_entry/">View Ledger</a></h1>
        <h2 class="menu1">Access the Ledger</h2>
    </div>

    <div class="container">
        <h1 class="menu">&emsp; &emsp; &emsp;&emsp; &emsp; <i class="fa fa-arrow-up fa-3x"></i></h1>
        <h1> &emsp; &emsp; &emsp; &emsp; &emsp;<a class="link" href="/journals_ledger/manager/unapproved_entries/">Journal Request</a></h1>
        <h2 class="menu2">  &emsp; &emsp; &emsp; &emsp;&emsp;&emsp;&emsp; Request a new journal entry</h2>
    </div>
    <div class="container">
        <h1 class="menu">&emsp; &emsp; &emsp;<i class="fa fa-book fa-3x"></i></h1>
        <h1 class="menu">&emsp; &emsp; &emsp;<a class="link" href="/charts_accounts/view_event_log/">Event Log</a></h1>
        <h2 class="menu">&emsp; &emsp; &emsp;&emsp; View the accounts event log</h2>
    </div>

    
    </br></br>
</body>
</html>