{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/colorscheme.css' %}">
    <link rel="stylesheet" href="{% static 'css/adminMenu.css' %}">
    <meta charset="UTF-8">
    <title>Full-Stacks: Admin Menu</title>
</head>
<body>
            
    <img src= "slogo.png" class="logo" alt =" < $ > Full-Stacks">
        
    <div class="shape">
        </br> </br> </br> </br>
        <form action="/users/administrator/view_all_users/" method="get">{% csrf_token %}
            <input type="submit" value="View All Users">
        </form>
        </br>
        <form action="/users/administrator/create_user/" method="get">{% csrf_token %}
            <input type="submit" value="Create New User">
        </form>
        <form action="/users/administrator/logout_user/" method="get">{% csrf_token %}
            <input type="submit" value="Logout">
        </form>

    </div>
</body>
</html>