{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/suspendUser.css' %}">
    <link rel="stylesheet" href="{% static 'css/colorscheme.css' %}">
    <meta charset="UTF-8">
    <title>Full-Stacks: Suspend User</title>
</head>
<body>
    <img src= "{% static 'images/slogo.png' %}" class="logo" alt =" < $ > Full-Stacks">

    <div class="profile_tab">
        <div class="circle" id="profile_pic">
             <img src= "{% static 'images/velociraptor.png' %}" class="profile_picture" alt ="..Load Image..">
        </div>
        <label for="profile_pic" class="profile_pic_label"> --Username-- </label>
    </div>

    <div class="shape">
        <form>
            </br></br>
            <p2>Suspend User</p2>
            </br></br>
            <p3>--Username--</p3></br>
            </br>
            <label for="suspendstart" class="input_label">Start Date: </label><input type="date" id="suspendstart" name="start_of_suspension"></br>
            <label for="suspendend" class="input_label">End Date: </label><input type="date" id="suspendend" name="end_of_suspension"></br>
            </br></br>
            <input type="submit" value="Suspend">
        </form>
        </br>
        <form action="/users/administrator/view_all_users">
            <input type="submit" value="Cancel">
        </form>
    </div>
</body>
</html>