{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/colorscheme.css' %}">
    <link rel="stylesheet" href="{% static 'css/adminMenu.css' %}">
    <link rel="stylesheet" href="{% static 'css/navigationbar.css' %}">
    <meta charset="UTF-8">
    <title>Full-Stacks: Admin Menu</title>
</head>
<body>
    
    <div class="navbar">
        <img src= "{% static 'images/navbarlogo.png' %}" class="logo" alt =" < $ > Full-Stacks">
    <div class="profile_tab">
        <div class="circle" id="profile_pic">
             <img src= "{% static 'images/velociraptor.png' %}" class="profile_picture" alt ="..Load Image..">
        </div>
        <label for="profile_pic" class="profile_pic_label"> --Username-- </label>
    </div>
    </div>
        
</br></br></br>
    <div class="shape">
        <p2> Welcome, Administrator</p2>
        </br> </br>
        <form action="/users/administrator/view_all_users/" method="get">{% csrf_token %}
            <input type="submit" value="View All Users">
        </form>
        <form action="/users/administrator/unapproved_users/" method="get">{% csrf_token %}
            <input type="submit" value="Approve a New User">
        </form>
        <form action="/charts_accounts/" method="get">{% csrf_token %}
            <input type="submit" value="Create a Chart of Accounts">
        </form>
        <form action="/charts_accounts/delete_page/" method="get">{% csrf_token %}
            <input type="submit" value="Delete a Chart of Accounts">
        </form>
        <form action="/users/administrator/logout_user/" method="get">{% csrf_token %}
            <input type="submit" value="Accounts">
        </form>
        <form action="/users/administrator/logout_user/" method="get">{% csrf_token %}
            <input type="submit" value="Logout">
        </form>


    </div>
    </br></br>
</body>
</html>