{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="{% static 'css/colorscheme.css' %}">
    <link rel="stylesheet" href="{% static 'css/forgotPassword.css' %}">
    <meta charset="UTF-8">
    <title>Full-Stacks: Forgot Password</title>
</head>
<body>
            
    <img src= "slogo.png" class="logo" alt =" < $ > Full-Stacks">
        
    <div class="shape">
        <form action="/users/forgot-password-send-info/" method="post"> {% csrf_token %}
            </br></br></br></br></br></br>
            <p2>Forgot Passsword</p2></br></br></br>
            <label for="username">Please Enter Your Username: </label><input type="text" id="username" name="curr_username"></br></br></br>
            <label for="email">Please Enter Your Email: </label><input type="text" id="email" name="curr_email" ></br></br></br>
            <input type="submit" value="Request Password">
        
        </form>    
        <a href="/users/">
            <input type="submit" value="Login Page"> 
        </a> 
    </div>
</body>
</html>

