{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/colorscheme.css' %}">
    <link rel="stylesheet" href="{% static 'css/adminMenu.css' %}">
    <link rel="stylesheet" href="{% static 'css/navigationbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/view_accounts.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>Full-Stacks: Help</title>
</head>
<body>
    
    <div class="navbar">
        <a href="/users/administrator/"> 
            <img src= "{% static 'images/navbarlogo.png' %}" class="logo" alt =" < $ > Full-Stacks">
        </a>
        <div class="profile_tab">
            <div class="circle" id="profile_pic">
                 <img src= "{% static 'images/velociraptor.png' %}" class="profile_picture" alt ="..Load Image..">
            </div>
            <label for="profile_pic" class="profile_pic_label"> --Username-- </label>
        </div>
        <a href="{% static 'images/FULLSTACKS_Manual_t1.pdf' %}">
            <h3 id ="help"><i class="fa fa-question fa-3x"></i></h3>
        </a>
    </div> </br> </br> </br> 
    <div class="pdf">
        <embed src="{% static 'images/FULLSTACKS_Manual_t1.pdf' %}" width="1200" height="1200"  
        type="application/pdf">
    </div>
</body>



  