{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/colorscheme.css' %}">
    <meta charset="UTF-8">
    <title>Full-Stacks: Login</title>
</head>
<body>
    <img src= "{% static 'images/slogo.png' %}" class="logo" alt =" < $ > Full-Stacks">

</br></br></br></br></br></br></br></br></br></br></br></br></br>
<div clas="container">
    <h1>Welcome!</h1>
    <h2>FullStacks is a web accounting software designed to make bookkepping easy</h2>
</br></br></br>
<a href="/users/">
    <input type="submit" value="Login">
</a>
    
</div>
</body>
</html>