{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/managerMenu.css' %}">
    <link rel="stylesheet" href="{% static 'css/colorscheme.css' %}">
    <meta charset="UTF-8">
    <title>Full-Stacks: Accountant Menu</title>
</head>
<body>
    <img src= "{% static 'images/slogo.png' %}" class="logo" alt =" < $ > Full-Stacks">

    <div class="profile_tab">
        <div class="circle" id="profile_pic">
             <img src= "{% static 'images/velociraptor.png' %}" class="profile_picture" alt ="..Load Image..">
        </div>
        <label for="profile_pic" class="profile_pic_label">{{current_admin}}</label>
    </div>

    <div class="shape">
        </br>
        <p2>Welcome, Manager</p2>
        <form action="/users/manager/view_accounts/">
            <input type="submit" value="View Accounts">
        </form>
        <form action="/users/">
            <input type="submit" value="Logout">
        </form>
    </div>
</body>
</html>