{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/colorscheme.css' %}">
    <link rel="stylesheet" href="{% static 'css/new_homepages.css' %}">
    <link rel="stylesheet" href="{% static 'css/new_navbar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>Full-Stacks: Manager Menu</title>
</head>
<body>
<div class="wrapper">
    <div class = "navbar">
        <img src= "{% static 'images/navbarlogo.png' %}" class="logo" alt =" < $ > Full-Stacks">

        <div class="dropdown">
        <button class = "dropbtn"> Accounts</button>
                <div class="dropdown-content">
                    <a href="/users/manager/view_accounts/"> View Accounts </a>
                      <a href="/charts_accounts/view_event_log/"> Event Log</a>
                </div>
        </div>
        <div class="dropdown">
            <button class = "dropbtn">Journals</button>
                    <div class="dropdown-content">
                        <a href="/journals_ledger/journal_entry/"> New Entry </a>
                        <a href="/journals_ledger/manager/unapproved_entries/"> Approve/Reject Entries</a>
                        <a href="/journals_ledger/manager/rejected_journal_entry/"> Rejected Entries</a>
                        <a href="/journals_ledger/manager/approved_journal_entry/"> Approved Entries</a>

                    </div>
        </div>
        <div class="dropdown">
            <button class = "dropbtn">Ledger</button>
                    <div class="dropdown-content">
                        <a href="/journals_ledger/ledger/"> View Ledger </a>
                    </div>
        </div>

        <div class="dropdown">
            <a href="/users/help/" id = "help"> Help</a>
        </div>
            <div class="dropdown"  id="profile">
            <div class="profile_tab">
                <div class="circle" id="profile_pic">
                     <img src= "{% static 'images/velociraptor.png' %}" class="profile_picture" alt ="..Load Image..">
                </div>
                <label for="profile_pic" class="profile_pic_label"> {{current_manager}} </label>
                <div class="dropdown-content">
                    <a href="/users/"> Log Out </a>
                </div>
            </div>
            </div>

    </div>

</br></br>
</br></br> </br></br></br> 
    <h1 class="header1"> Welcome back, Manager</h1>
    <h2 class="header2">Let's get started!</h2>

    </br></br></br></br> </br></br></br></br> </br></br></br></br> 
    <div class="container">
        <h1 class="menu1"><i class="fa fa-eye fa-3x"></i></h1>
        <h1 class="menu1"><a class="link" href="/charts_accounts/view_event_log/">View Event Log</a></h1>
        <h2 class="menu1">Access the event log for accounts</h2>
    </div>
  
    <div class="container">
        <h1 class="menu"><i class="fa fa-plus fa-3x"></i></h1>
        <h1><a class="link" href="/journals_ledger/journal_entry/">New Entry</a></h1>
        <h2 class="menu2">Create and submit a new journal entry</h2>
    </div>
    <div class="container">
        <h1 class="menu"><i class="fa fa-check fa-3x"></i></h1>
        <h1 class="menu"><a class="link" href="/journals_ledger/manager/unapproved_entries/">Check Pending Entries</a></h1>
        <h2 class="menu">View current pending entries, accept or reject them</h2>
    </div>



</div>
</body>