{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/colorscheme.css}">
    <link rel="stylesheet" href="{% static 'css/forgotPassword.css}">
    <meta charset="UTF-8">
    <title>Full-Stacks: Forgot Password</title>
</head>
<body>
            
    <img src= "slogo.png" class="logo" alt =" < $ > Full-Stacks">
    <div class="shape">
        <form>
            </br></br></br></br>
            <p2>Reset Password</p2></br>
            <p2>Please enter a new passsword</p2></br></br>
            <label for="password">Passsword: </label><input type="text" id="password"></br>
            <label for="cpassword">Confirm Passsword: </label><input type="text" id="cpassword"></br></br></br>
            <input type="update" value="Reset">
            <a href="main.html">
                <input type="submit" value="Cancel">
            </a>
            

        </form>
        
    </div> 
</body>
</html>
