{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/colorscheme.css' %}">
    <link rel="stylesheet" href="{% static 'css/forgotPassword.css' %}">
    <meta charset="UTF-8">
    <title>Full-Stacks: Forgot Password</title>
</head>
<body>
    <img src= "{% static 'images/slogo.png' %}" class="logo" alt =" < $ > Full-Stacks">

    <div class="shape">
        <form>
            </br></br></br></br>
            <p2>Reset Password</p2></br>
            <p2>Please enter a new password</p2></br></br>
            <label for="password">Password: </label><input type="text" id="password"></br>
            <label for="cpassword">Confirm Password: </label><input type="text" id="cpassword"></br></br></br>
            <input type="submit" value="Reset">
        </form>
        </br>
        <form action="/users/">
                <input type="submit" value="Cancel">
        </form>
    </div>
</body>
</html>
