{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/colorscheme.css' %}">
    <link rel="stylesheet" href="{% static 'css/new_navbar.css' %}">
    <meta charset="UTF-8">
    <title>Full-Stacks: Admin Menu: Expired Passwords</title>
</head>
<body>
    <div class = "navbar">
        <img src= "{% static 'images/navbarlogo.png' %}" class="logo" alt =" < $ > Full-Stacks">

        <div class="dropdown">
            <button class = "dropbtn"> Accounts</button>
            <div class="dropdown-content">
                <a href="/users/administrator/"> View Accounts </a>
                <a href="/charts_accounts/view_event_log/"> Event Log</a>
            </div>
        </div>
        <div class="dropdown">
            <button class = "dropbtn">Journals</button>
            <div class="dropdown-content">
                <a href="/journals_ledger/journal_entry/"> New Entry </a>
                <a href="/journals_ledger/manager/unapproved_entries/"> Approve/Reject Entries</a>
            </div>
        </div>

        <div class="dropdown">
            <a href="{% static 'images/FULLSTACKS_Manual_t1.pdf#page=3' %}" id = "help"> Help</a>
        </div>
        <div class="dropdown"  id="profile">
            <div class="profile_tab">
                <div class="circle" id="profile_pic">
                     <img src= "{% static 'images/velociraptor.png' %}" class="profile_picture" alt ="..Load Image..">
                </div>

                <label for="profile_pic" class="profile_pic_label"> {{current_manager}} </label>

                <div class="dropdown-content">
                    <a href="/users/"> Log Out </a>
                </div>
            </div>
        </div>
    </div>
    <h1>Hello, Administrator {{current_admin.last_name}}</h1>
    <button class="back_btn" onclick="history.back()">Go Back</button>
        </br></br>
    <table id="view_expired_passwords" width="1350px">
        <tr>
            <th>Employee ID</th>
            <th>Employee Username</th>
            <th>Expired Password</th>
            <th>Current Password Creation Date</th>
        </tr>
        {% for expired_pass_user in expired_pass_users %}
            <tr>
                <td>{{expired_pass_user.employee_id}}</td>
                <td>{{expired_pass_user.username}}</td>
                <td>{{expired_pass_user.password}}</td>
                <td>{{expired_pass_user.password_date_time}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
