{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/navigationbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/colorscheme.css' %}">
    <link rel="stylesheet" href="{% static 'css/view_users.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>Full-Stacks: View All Users</title>
</head>
<body>
    <div class="navbar">
        <a href="/users/administrator/"> 
            <img src= "{% static 'images/navbarlogo.png' %}" class="logo" alt =" < $ > Full-Stacks">
        </a>
    <div class="profile_tab">
        <div class="circle" id="profile_pic">
             <img src= "{% static 'images/velociraptor.png' %}" class="profile_picture" alt ="..Load Image..">
        </div>
        <label for="profile_pic" class="profile_pic_label">{{current_admin}}</label>
    </div>
        <a href="{% static 'images/FULLSTACKS_Manual_t1.pdf#page=3' %}">
            <h3 id ="help"><i class="fa fa-question fa-3x"></i></h3>
        </a>
    </div>
    <br><br> <br><br> 

    <div class="shape">
        </br></br>
        <form action="/users/administrator/">
            <input type="submit" id="back" value="Go Back">
        </form>
    </div>

    <table id="view_all_users" width="1200px">
        <tr>
            <th>Username</th>
            <th>User ID</th>
            <th>Role</th>
            <th>Options</th>
        </tr>

        {% for user in users %}
            <tr>
                <td>{{user.username}}</td>
                <td>{{user.employee_id}}</td>
                <td>{{user.role}}</td>
                <td>
                    <form action="/users/administrator/edit_user/{{user.employee_id}}/">
                        <input type="submit" value="Edit" title= "Edit User Account">
                    </form>
                    <form action="/users/administrator/activate_user/{{user.employee_id}}/" method="post" id="activateForm">
                        {% csrf_token %}
                        <input type="submit" value="Active: {{user.is_active}}" title="Acivate/Deactivate User">
                    </form>
                    <form action="/users/administrator/suspend_user/{{user.employee_id}}">
                        <input type="submit" value="Suspend" title="Suspend User">
                    </form>
                    <form action="/users/administrator/email_user/">
                        <input type="submit" value="E-Mail" title="Email User">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>