{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/colorscheme.css' %}">
    <meta charset="UTF-8">
    <title>Full-Stacks: Admin Menu: Expired Passwords</title>
</head>
<body>
    <h1>Hello, Administrator {{current_admin.last_name}}</h1>

    <table id="view_expired_passwords" width="1350px">
        <tr>
            <th>Employee ID</th>
            <th>Employee Username</th>
            <th>Expired Password</th>
            <th>Current Password Creation Date</th>
        </tr>
        {% for expired_pass_user in expired_pass_users %}
            <tr>
                <td>{{expired_pass_user.employee_id}}</td>
                <td>{{expired_pass_user.username}}</td>
                <td>{{expired_pass_user.password}}</td>
                <td>{{expired_pass_user.password_date_time}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
