{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/colorscheme.css' %}">
    <link rel="stylesheet" href="{% static 'css/view_users.css' %}">
    <meta charset="UTF-8">
    <title>Full-Stacks: View All Users</title>
</head>
<body>
    <img src= "{% static 'images/slogo.png' %}" class="logo" alt =" < $ > Full-Stacks">

    <div class="profile_tab">
        <div class="circle" id="profile_pic">
             <img src= "{% static 'images/velociraptor.png' %}" class="profile_picture" alt ="..Load Image..">
        </div>
        <label for="profile_pic" class="profile_pic_label"> {{current_admin}} </label>
    </div>

    <div class="shape">
        </br></br>
        <form action="/users/administrator/">
            <input type="submit" id="back" value="Go Back">
        </form>
    </div>

    <table id="view_all_users" width="1200px">
        <tr>
            <th>Username</th>
            <th>User ID</th>
            <th>Role</th>
            <th>Options</th>
        </tr>

        {% for user in users %}
            <tr>
                <td>{{user.username}}</td>
                <td>{{user.employee_id}}</td>
                <td>{{user.role}}</td>
                <td>
                    <form action="/users/administrator/edit_user/{{user.employee_id}}/">
                        <input type="submit" value="Edit">
                    </form>
                    <form action="/users/administrator/activate_user/{{user.employee_id}}/" method="post" id="activateForm">
                        {% csrf_token %}
                        <input type="submit" value="Active: {{user.is_active}}">
                    </form>
                    <form action="/users/administrator/suspend_user/{{user.employee_id}}/">
                        <input type="submit" value="Suspend">
                    </form>
                    <form action="/users/administrator/email_user/{{user.employee_id}}/">
                        <input type="submit" value="E-Mail">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>