html * {
	font-family: "Calibri", sans-serif;
}

body {
	background-color: #FEF5ED;
}

h1 {
	color: #99A799;
}

p {
	color: #FEF5ED;
}

p2 {
	color: #FEF5ED;
	font-size: 30px;
	font-weight: 700;
}

a {
	color: #FEF5ED;
}

.shape{
	background-color: #ADC2A9;
}

.circle{
    height: 100px;
	width: 100px;
	border-radius: 50%;
	margin: auto;
	shape-outside: circle();
    clip-path: circle();
	background-color: #99A799;
	display: inline-block;
}

.profile_pic_label {
	color: #99A799;
	text-align: right;
	display: inline-block;
}

.profile_tab {
    float: right;
}

.profile_picture {
    height: 90px;
	width: 90px;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 5px;
}

label {
	color: #FEF5ED;
	font-size: 30px;
	font-weight: 700;
}

input[type=submit] {
	background: #99A799;
	color: #FEF5ED;
	font-size: 25px;
	font-weight: 700;
	height: 60px;
	width: 125px;
	border: none;
	border-radius: 10px;
	transition-duration: 0.4s;
}

input[type=submit]:hover {
	background: #FEF5ED;
	color: #99A799;
	border: none;
}

input[type=button]:hover {
	background: #FEF5ED;
	color: #99A799;
	border: none;
}

input[type=button] {
	background: #99A799;
	color: #FEF5ED;
	font-size: 20px;
	font-weight: 600;
	height: 40px;
	width: 150px;
	border: none;
	border-radius: 10px;
	transition-duration: 0.4s;
}

table {
	border-spacing: 0;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

td {
	color: #99A799;
	font-size: 20px;
	font-weight: 600;
}

th {
	background-color: #ADC2A9;
	color: #FEF5ED;
	font-size: 30px;
	font-weight: 700;
	
}

tr:nth-child(even) {
	background-color: #EAE3DC;
}

