.shape {
	height: 550px;
	width: 800px;
	border-radius: 30px;
	margin: auto;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

div {
	text-align: center;
	padding: 10px;
}

label {
	width: 300px;
	display: inline-block;
	text-align: left;
}

.header_label {
    margin-left: -45px;
    margin-right: 45px;
}

input[type=text] {
	margin-left: 0px;
}

input[type=date] {
	margin-left: 30px;
	
}

input[id=back_login] {
	position: relative;
	right: 175px;
	up: 100px;
}