.shape {
	height: 500px;
	width: 800px;
	border-radius: 30px;
	margin: auto;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	text-align: center;
	padding: 10px;
}

label {
	display: inline-block;
	text-align: left;
}

.edit_user_label {
    width: 300px;
}

select {
    margin-left: 86px;
}

input[type=text] {
	margin-left: 30px;
}

input[type=update] {
	background: #D3E4CD;
	color: #99A799;
    	font-size: 25px;
	font-weight: 700;
	height: 60px;
	width: 125px;
	border: none;
	border-radius: 10px;
	transition-duration: 0.4s;
    	text-align: center;
    	position: relative;
    	margin: 10px;
}

input[type=update]:hover {
	background: #FEF5ED;
	color: #99A799;
	border: none;
}







