.shape {
	height: 500px;
	width: 800px;
	border-radius: 30px;
	margin: auto;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

div {
	text-align: center;
	padding: 10px;
}

label {
	width: 400px;
	display: inline-block;
	text-align: left;
}

input[type=text] {
	margin-left: 30px;
    	border: 2px solid #99A799;
    	border-radius: 4px;
    	width: 300px;
    	height: 25px;
    	background-color: #FEF5ED;;
}

input[type=button] {
	background: #99A799;
	color: #FEF5ED;
	font-size: 25px;
	font-weight: 700;
	height: 60px;
	width: 125px;
	border: none;
	border-radius: 10px;
	transition-duration: 0.4s;
}

input[type=button]:hover {
	background: #FEF5ED;
	color: #99A799;
	border: none;
}