.shape {
	height: 300px;
	width: 500px;
	border-radius: 30px;
	margin: auto;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

div {
	text-align: center;
	padding: 10px;
}

.links {
	position: relative;
	bottom: 0;
}

label {
	width: 150px;
	display: inline-block;
}

input[type=text] {
	margin-left: 30px;
}

input[type=password] {
	margin-left: 30px;
}

