#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:2600px;
}

.container {
    background-color:#ADC2A9;
    width: 35%;
    max-height: 35%;
    border-radius: 30px;
	margin: auto;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 
}

input[type=submit] {
	margin-left: 285px;
    width: 325px!important;
    height: 75px!important;
    margin-bottom: 15px;
    position: relative;

}

p2 {
    margin-left: 325px;
}