#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:2600px;
}

html * {
	font-family: "Calibri", sans-serif;
}

body {
	background-color: #FEF5ED;
	position: relative;
}

input[type=text] {
	margin-left: 20px;
}

input[id= back_manager] {
	margin-left: 30px;
    margin-right: 165px;
}

input[id=Submit] {
	margin-left: 370px;
}

.label1 {
	display: inline-block;
	text-align: left;
    margin-left: 200px;
}

.container {
    background-color:#ADC2A9;
    width: 750px;
    height: 750px;
    border-radius: 30px;
	margin: auto;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


