.container {
    background-color:#ADC2A9;
    width: 1200px;
    max-height: 35%;
    border-radius: 30px;
	margin: auto;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
}

.options{

    display: inline-block;
    text-align: center;
    margin-left: 100px;
    color: #FEF5ED;
    font-size: 20px;
    font-family: "Calibri", sans-serif;
    
}

table {
	margin: auto;
	text-align: center;
}

input[type=text]{
    margin-left: 20px;
    margin-top: 5px;
    float: right;
    font-size: 16px;
    background-color: #D3E4CD;

}

.tooltip {
    visibility: hidden;
    width: 220px;
    background-color: #99A799;
    color:  #99A799;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
  
  }
  
  .btn:hover .tooltip {
    background-color: #D3E4CD;
    visibility: visible;
  }
  