{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/colorscheme.css' %}">
    <link rel="stylesheet" href="{% static 'css/new_navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/coa_edit.css' %}">
    <meta charset="UTF-8">

    <title>Full-Stacks: Edit CoA</title>
</head>


<body>
    <div class = "navbar">
        <img src= "{% static 'images/navbarlogo.png' %}" class="logo" alt =" < $ > Full-Stacks">

        <div class="dropdown">
            <button class = "dropbtn">Users</button>
                    <div class="dropdown-content">
                        <a href="/users/administrator/view_all_users/"> View All Users </a>
                        <a href="/users/administrator/unapproved_users/"> New User Request</a>
                        <a href="/users/administrator/view_expired_passwords/"> View Expired Passwords</a>

                    </div>
        </div>
        <div class="dropdown">
        <button class = "dropbtn"> Accounts</button>
                <div class="dropdown-content">
                    <a href="/charts_accounts/view_accounts/"> View or Edit Accounts </a>
                    <a href="/charts_accounts/"> Create a Chart of Accounts</a>
                    <a href="/charts_accounts/delete_page/"> Delete a Chart of Accounts</a>
                    <a href="/charts_accounts/administrator/edit_account/"> Edit a Chart of Accounts</a>
                    <a href="/charts_accounts/view_event_log/"> Event Log</a>
                </div>
        </div>
        <div class="dropdown">
            <button class = "dropbtn">Ledger</button>
                    <div class="dropdown-content">
                        <a href="/journals_ledger/ledger/"> View Ledger </a>
                    </div>
        </div>

        <div class="dropdown">
            <a href="/users/help/" id = "help"> Help</a>
        </div>
            <div class="dropdown"  id="profile">
            <div class="profile_tab">
                <div class="circle" id="profile_pic">
                     <img src= "{% static 'images/velociraptor.png' %}" class="profile_picture" alt ="..Load Image..">
                </div>
                <label for="profile_pic" class="profile_pic_label"> {{current_administrator}} </label>
                <div class="dropdown-content">
                    <a href="/users/administrator/logout_user/"> Log Out </a>
                </div>
            </div>
            </div>
    </div>
    </br></br></br></br></br></br></br>
    <div class="shape">
        <form>

            </br></br>
            <p2 class="label1">Edit Account</p2>
            </br></br>
            <p3 class="label2">Username </p3></br>
            </br>

            <label for="account_id" class="edit_account_label">Account id: </label><input type="text" id="account_id"></br>
            <label for="account_name" class="edit_account_label">Account Name: </label><input type="text" id="account_name"></br>
            <label for="account_desc" class="edit_account_label">Account Description:</label><input type="text" id="account_desc"></br>
            <label for="account_category" class="edit_account_label">Account Category: </label><input type="text" id="account_category"></br>
            <label for="account_subcategory" class="edit_account_label">Account Subcategory: </label><input type="text" id="account_subcategory"></br>

        
            </br></br></br>
            <input type="submit" value="Update">
        </form>
        </br></br>
        <form action="/charts_accounts/view_accounts/">

            <input type="submit" value="Cancel">
        </form>
        
    </div>
</body>
</html>