{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/event_log.css' %}">
    <link rel="stylesheet" href="{% static 'css/colorscheme.css' %}"> <!--Need to add CSS stuff-->
    <link rel="stylesheet" href="{% static 'css/new_navbar.css' %}">
    <meta charset="UTF-8">
    <title>Full-Stacks: Charts of Accounts Event Log</title>
</head>
<body>
    <div class = "navbar">
        <img src= "{% static 'images/navbarlogo.png' %}" class="logo" alt =" < $ > Full-Stacks">

        <div class="dropdown">
            <button class = "dropbtn"> Accounts</button>
            <div class="dropdown-content">
                <a href="/users/administrator/"> View Accounts </a>
                <a href="/charts_accounts/view_event_log/"> Event Log</a>
            </div>
        </div>
        <div class="dropdown">
            <button class = "dropbtn">Journals</button>
            <div class="dropdown-content">
                <a href="/journals_ledger/journal_entry/"> New Entry </a>
                <a href="/journals_ledger/manager/unapproved_entries/"> Approve/Reject Entries</a>
            </div>
        </div>

        <div class="dropdown">
            <a href="{% static 'images/FULLSTACKS_Manual_t1.pdf#page=3' %}" id = "help"> Help</a>
        </div>
        <div class="dropdown"  id="profile">
            <div class="profile_tab">
                <div class="circle" id="profile_pic">
                     <img src= "{% static 'images/velociraptor.png' %}" class="profile_picture" alt ="..Load Image..">
                </div>

                <label for="profile_pic" class="profile_pic_label"> {{current_manager}} </label>

                <div class="dropdown-content">
                    <a href="/users/"> Log Out </a>
                </div>
            </div>
        </div>
    </div>


    <h1>Hello, {{current_user.role}} {{current_user.last_name}}</h1>
    <h2>From this page, you can view all event logs associated with Charts of Accounts.</h2>
    </br>
    <button class="back_btn" onclick="history.back()">Go Back</button>
    </br></br>
    <table id="view_expired_passwords" width="1350px">
        <tr>
            <th>Event ID</th>
            <th>Event Description</th>
            <th>Event Source ID</th>
            <th>User Source ID</th>
            <th>Event Date and Time</th>
        </tr>
        {% for event in events %}
            <tr>
                <td>{{event.event_id}}</td>
                <td>{{event.action_description}}</td>
                <td>{{event.account_source_id}}</td>
                <td>{{event.user_source_id}}</td>
                <td>{{event.event_date}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>