{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/colorscheme.css' %}"> <!--Need to add CSS stuff-->
    <link rel="stylesheet" href="{% static 'css/event_log.css' %}">
    <link rel="stylesheet" href="{% static 'css/new_navbar.css' %}">

    <meta charset="UTF-8">
    <title>Full-Stacks: Charts of Accounts Event Log</title>
</head>
<body>
<!----Nav bar for manager---->
<div class ="wrapper">
<div class = "navbar">
    <img src= "{% static 'images/navbarlogo.png' %}" class="logo" alt =" < $ > Full-Stacks">

    {% if user.role == 'Manager' %}
        <div class="dropdown">
            <button class = "dropbtn"> Accounts</button>
                    <div class="dropdown-content">
                        <a href="/users/manager/view_accounts/"> View Accounts </a>
                        <a href="/charts_accounts/view_event_log/"> Event Log</a>
                    </div>
            </div>
            <div class="dropdown">
                <button class = "dropbtn">Journals</button>
                        <div class="dropdown-content">
                            <a href="/journals_ledger/journal_entry/"> New Entry </a>
                            <a href="/journals_ledger/manager/unapproved_entries/"> Approve/Reject Entries</a>
                            <a href="/journals_ledger/manager/rejected_journal_entry/"> Rejected Entries</a>
                            <a href="/journals_ledger/manager/approved_journal_entry/"> Approved Entries</a>

                        </div>
            </div>
            <div class="dropdown">
                <button class = "dropbtn">Ledger</button>
                        <div class="dropdown-content">
                            <a href="/journals_ledger/ledger/"> View Ledger </a>
                        </div>
            </div>

    {% elif user.role == 'Administrator' %}

        <div class="dropdown">
            <button class = "dropbtn">Users</button>
                    <div class="dropdown-content">
                        <a href="/users/administrator/view_all_users/"> View All Users </a>
                        <a href="/users/administrator/unapproved_users/"> New User Request</a>
                        <a href="/users/administrator/view_expired_passwords/"> View Expired Passwords</a>

                    </div>
        </div>
        <div class="dropdown">
        <button class = "dropbtn"> Accounts</button>
                <div class="dropdown-content">
                    <a href="/charts_accounts/view_accounts/"> View or Edit Accounts </a>
                    <a href="/charts_accounts/"> Create a Chart of Accounts</a>
                    <a href="/charts_accounts/delete_page/"> Delete a Chart of Accounts</a>
                    <a href="/charts_accounts/view_event_log/"> Event Log</a>
                </div>
        </div>
        <div class="dropdown">
            <button class = "dropbtn">Ledger</button>
                    <div class="dropdown-content">
                        <a href="/journals_ledger/ledger/"> View Ledger </a>
                    </div>
        </div>

    {% else %}
    <div class="dropdown">
        <button class = "dropbtn"> Accounts</button>
                <div class="dropdown-content">
                    <a href="/users/manager/view_accounts/"> View Accounts </a>
                      <a href="/charts_accounts/view_event_log/"> Event Log</a>
                </div>
        </div>
        <div class="dropdown">
            <button class = "dropbtn">Journals</button>
                    <div class="dropdown-content">
                        <a href="/journals_ledger/journal_entry/"> Submit Journal Request </a>

                    </div>
        </div>

        <div class="dropdown">
            <button class = "dropbtn">Ledger</button>
                    <div class="dropdown-content">
                        <a href="/journals_ledger/ledger/"> View Ledger </a>

                    </div>
        </div>

    {% endif %}

    <div class="dropdown">
        <a href="/users/help/" id = "help"> Help</a>
    </div>
        <div class="dropdown"  id="profile">
        <div class="profile_tab">
            <div class="circle" id="profile_pic">
                 <img src= "{% static 'images/velociraptor.png' %}" class="profile_picture" alt ="..Load Image..">
            </div>
        {% if user.role == 'Manager' %}
            <label for="profile_pic" class="profile_pic_label"> {{current_manager}} </label>
        {% elif user.role == 'Administrator' %}
            <label for="profile_pic" class="profile_pic_label"> {{current_admin}} </label>
        {% else %}
            <label for="profile_pic" class="profile_pic_label"> {{current_accountant}} </label>
        {% endif %}

        <div class="dropdown-content">
                <a href="/users/"> Log Out </a>
        </div>
    </div>

</div>
</div>


</br></br></br></br></br>
<!--- The tab implementation is gross but the css didn't reflect changes :cc -->
    <h1 class="header1"> 
        &emsp;&emsp;&emsp;&emsp;&emsp; &nbsp; &emsp;&emsp;&emsp;&emsp;&emsp; &nbsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &nbsp;  &nbsp; &nbsp;
        Hello, {{current_user.role}} {{current_user.last_name}}
    </h1>
    <h2>
        &emsp;&emsp;&emsp;&emsp;&emsp; &nbsp; &emsp;&emsp;&emsp;&emsp;&emsp; &nbsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        &nbsp;&nbsp;
        From this page, you can view all event logs associated with Charts of Accounts.
    </h2>

</br></br>
<div class="shape">
</br></br>
{% if user.role == 'Manager' %}
    <form action="/users/manager/">
        <input type="submit" id="back" value="Go Back">
    </form>
{% elif user.role == 'administrator' %}
    <form action="/users/administrator/">
        <input type="submit" id="back" value="Go Back">
    </form>
{% else %}
        <form action="/users/accountant/">                                                                                                                               
            <input type="submit" id="back" value="Go Back">
        </form>
{% endif %}

</div> 
    <table id="view_expired_passwords" width="1350px">
        <tr>
            <th>Event ID</th>
            <th>Event Description</th>
            <th>Event Source ID</th>
            <th>User Source ID</th>
            <th>Event Date and Time</th>
        </tr>
        {% for event in events %}
            <tr>
                <td>{{event.event_id}}</td>
                <td>{{event.action_description}}</td>
                <td>{{event.account_source_id}}</td>
                <td>{{event.user_source_id}}</td>
                <td>{{event.event_date}}</td>
            </tr>
        {% endfor %}
    </table>

</div>
</body>
</html>