{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/requestedEntries.css' %}">
    <link rel="stylesheet" href="{% static 'css/new_navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/colorscheme.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>Full-Stacks: Manager Menu: Approved Entries</title>
    
</head>
<body>
    <div class = "navbar">
        <img src= "{% static 'images/navbarlogo.png' %}" class="logo" alt =" < $ > Full-Stacks">

        <div class="dropdown">
        <button class = "dropbtn"> Accounts</button>
                <div class="dropdown-content">
                    <a href="/users/manager/view_accounts/"> View Accounts </a>
                      <a href="/charts_accounts/view_event_log/"> Event Log</a>
                </div>
        </div>
        <div class="dropdown">
            <button class = "dropbtn">Journals</button>
                    <div class="dropdown-content">
                        <a href="/journals_ledger/journal_entry/"> New Entry </a>
                        <a href="/journals_ledger/manager/unapproved_entries/"> Approve/Reject Entries</a>
                        <a href="/journals_ledger/manager/rejected_journal_entry/"> Rejected Entries</a>
                        <a href="/journals_ledger/manager/approved_journal_entry/"> Approved Entries</a>

                    </div>
        </div>
        <div class="dropdown">
            <button class = "dropbtn">Ledger</button>
                    <div class="dropdown-content">
                        <a href="/journals_ledger/ledger/"> View Ledger </a>
                    </div>
        </div>

        <div class="dropdown">
            <a href="/users/help/" id = "help"> Help</a>
        </div>
            <div class="dropdown"  id="profile">
            <div class="profile_tab">
                <div class="circle" id="profile_pic">
                     <img src= "{% static 'images/velociraptor.png' %}" class="profile_picture" alt ="..Load Image..">
                </div>
                <label for="profile_pic" class="profile_pic_label"> {{current_manager}} </label>
                <div class="dropdown-content">
                    <a href="/users/"> Log Out </a>
                </div>
            </div>
            </div>

    </div>


</br></br></br>


<h1 class="header1">Hello, Manager {{current_manager.last_name}}</h1>

<h2 class="header2"> Previously Approved Journal Entries.</h2>

</br></br></br></br>

<form class=" d-flex" method=" POST"
action="{% url 'search_journals' %}"> 

 {% csrf_token %}
 &emsp;&emsp;&emsp; &emsp;&emsp;&emsp; &emsp;&emsp;&emsp; &emsp;&emsp;&emsp; &emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;
 &emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp; &emsp;&emsp;
<input type="form-control me-2" type = "search" placeholder="Search Journals" name="searched">
<button class=" btn btn-outline-secondary" type=" submit"> Submit </button>
</br></br>

</form>
    <table id="view_approved_entries" width="1200px">
        <tr>
            <th>Entry ID</th>
            <th>User ID</th>
            <th>Entry Description</th>
            <th>Date of Entry</th>
            <th>Debit Account</th>
            <th>Credit Account</th>
            <th>Amount Debited</th>
            <th>Amount Credited</th>
            <th>Approver ID</th>
        </tr>

        {% for entry in approved_entries %}

        <tr>
            <td>{{entry.journal_entry_id}}</td>
            <td>{{entry.user_submission_id}}</td>
            <td>{{entry.initial_entry_description}}</td>
            <td>{{entry.date_of_entry}}</td>
            <td>{{entry.account_debit_id_id}}</td>
            <td>{{entry.account_credit_id_id}}</td>
            <td>{{entry.debit_amount}}</td>
            <td>{{entry.credit_amount}}</td>
        </tr>

        {% endfor %}

    </table>
</body>
</html>