{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/journalEntry.css' %}">
    <link rel="stylesheet" href="{% static 'css/new_navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/colorscheme.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>Full-Stacks: Journal Entry</title>
</head>
<body>
    <div class = "navbar">
        <img src= "{% static 'images/navbarlogo.png' %}" class="logo" alt =" < $ > Full-Stacks">

        <div class="dropdown">
            <button class = "dropbtn"> Accounts</button>
            <div class="dropdown-content">
                <a href="/users/administrator/"> View Accounts </a>
                <a href="/charts_accounts/view_event_log/"> Event Log</a>
            </div>
        </div>
        <div class="dropdown">
            <button class = "dropbtn">Journals</button>
            <div class="dropdown-content">
                <a href="/journals_ledger/journal_entry/"> New Entry </a>
                <a href="/journals_ledger/manager/unapproved_entries/"> Approve/Reject Entries</a>
            </div>
        </div>

        <div class="dropdown">
            <a href="{% static 'images/FULLSTACKS_Manual_t1.pdf#page=3' %}" id = "help"> Help</a>
        </div>
        <div class="dropdown"  id="profile">
            <div class="profile_tab">
                <div class="circle" id="profile_pic">
                     <img src= "{% static 'images/velociraptor.png' %}" class="profile_picture" alt ="..Load Image..">
                </div>

                <label for="profile_pic" class="profile_pic_label"> {{current_manager}} </label>

                <div class="dropdown-content">
                    <a href="/users/"> Log Out </a>
                </div>
            </div>
        </div>
    </div>

    </br></br></br>

    <div class="container">
        </br>
        <button class="back_btn" onclick="history.back()">Go Back</button>
        <p2 class="p2">Journal Entry Form</p2>
        </br></br></br>


<!--Populate with existing accounts-->
        <form action="/journals_ledger/new_journal_entry_request/submit/" method="post" enctype="multipart/form-data">{% csrf_token %}
            <label for="jdescription"> Entry Description: </label>
                <input type="text" id="jdescription" name="entry_description"></br>
            <label for="credit"> Credit Amount: </label>
                <input type="text" id="credit" name="entry_credit"></br>
            <label for="debit"> Debit Amount: </label>
                <input type="text" id="debit" name="entry_debit"></br>
            <label for="credit_account_id"> Credit Account ID: </label>
                <input type="text" id="credit_account_id" name="credit_account_id"></br>
            <label for="debit_account_id"> Debit Account ID: </label>
                <input type="text" id="debit_account_id" name="debit_account_id"></br>
            <label for="file" class="file_label"> Attach file: </label>
                <input type="file" name="file" id="file">

        </br></br>
        <input type="submit" value="Submit" id="Submit">
        </form>
        </br></br>
    </div>

    {% if messages %}
    <ul class="messages">
       {% for message in messages %}
       <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
       {% endfor %}
    </ul>
   {% endif %}

</body>