{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/requestedEntries.css' %}">
    <link rel="stylesheet" href="{% static 'css/navigationbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/colorscheme.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>Full-Stacks: Manager Menu: Unapproved Entries</title>
</head>
<body>
    
    <div class="navbar">
        <a href="/users/manager/"> 
            <img src= "{% static 'images/navbarlogo.png' %}" class="logo" alt =" < $ > Full-Stacks">
        </a>
    <div class="profile_tab">
        <div class="circle" id="profile_pic">
             <img src= "{% static 'images/velociraptor.png' %}" class="profile_picture" alt ="..Load Image..">
        </div>
        <label for="profile_pic" class="profile_pic_label">{{current_manager}}</label>
    </div>
        <a href="{% static 'images/FULLSTACKS_Manual_t1.pdf#page=3' %}">
            <h3 id ="help"><i class="fa fa-question fa-3x"></i></h3>
        </a>
    </div>

</br></br></br>

<h1 class="header1">Hello, Manager {{current_manager.last_name}}</h1>
<h2 class="header2">From this page, you can approve or reject requests for a new Journal Entry.</h2>
</br></br></br></br>

<div class="container">
</br>
<a href="/users/manager/"> 
    <h3 class="back"><i class="fa fa-arrow-left fa-2x">  Go back</i></h3>
</a>
</br></br>

<table id="view_unapproved_entries" width="1200px">
    <tr>
        <th>Entry ID</th>
        <th>User ID</th>
        <th>Entry Description</th>
        <th>Date of Entry</th>
        <th>Debit Account</th>
        <th>Credit Account</th>
        <th>Amount Debited</th>
        <th>Amount Credited</th>
        <th>Pending Approval?</th>
        <th>Approver ID</th>
    </tr>

    {% for journal in journal_entries %}
        <tr>
            <td>{{journal.journal_entry_id}}</td>
            <td>{{journal.user_submission_id}}</td>
            <td>{{journal.initial_entry_description}}</td>
            <td>{{journal.date_of_entry}}</td>
            <td>{{journal.account_debit_id_id}}</td>
            <td>{{journal.account_credit_id_id}}</td>
            <td>{{journal.debit_amount}}</td>
            <td>{{journal.credit_amount}}</td>
            <td>{% if journal.is_approved %}
                    Approved
                    {% else %}
                    Unapproved
                {% endif %}
            </td>
            <td>
                {% if journal.approver_id == Unapproved %}
                    Unapproved
                    {% else %}
                    {{journal.approver_id}}
                {% endif %}
            </td>
            <td>
                {% if journal.is_approved == False %}
                    <form action="/journals_ledger/new_journal_entry_request/approve/" method="post">{% csrf_token %}
                        <input type="hidden" name="journal_id" value={{journal.journal_entry_id}}>
                        <button class="btn"><i class="fa fa-check"></i>
                            <span class="tooltip"><b>Approve</b><br>Approve the journal entry request</span>
                        </button>
                    </form>
                    <form>
                        <button class="btn" id="reject_button" type="button" data-toggle="modal"><i class="fa fa-trash"></i>
                             {% with curr_journal_id=journal.journal_entry_id %}
                                {{curr_journal_id}}
                             {% endwith %}
                            <span class="tooltip"><b>Reject</b><br>Reject the journal entry request</span>
                        </button>
                    </form>
                    {% else %}

                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
</div>




<!-- Modal Section -->

<div class="bg-modal">
    {{curr_journal_id}}
    <div class="modal-content">
        <div class="close">+</div>
        <form action="/journals_ledger/new_journal_entry_request/reject/" method="post">{% csrf_token %}
            <input type="hidden" name="journal_id" value={{curr_journal_id}}>
            <label for="rejection_comment">Reason for rejection: </label></br>
            <textarea id="rejection" name="rejection_comment" rows="5" cols="50" placeholder="Please input your reason for rejecting this journal."></textarea></br>
            
            <input type="submit" value="Submit">
        </form>
    </div>


</div>

<script>
    document.getElementById('reject_button').addEventListener('click', 
    function() {
        document.querySelector('.bg-modal').style.display = 'flex';
    });
    
    document.querySelector('.close').addEventListener('click',
    function() {
        document.querySelector('.bg-modal').style.display = 'none';
    });
</script>


{% if messages %}
<ul class="messages">
   {% for message in messages %}
   <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
   {% endfor %}
</ul>
{% endif %}

</body>
</html>