{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/requestedEntries.css' %}">
    <link rel="stylesheet" href="{% static 'css/new_navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/colorscheme.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>Full-Stacks: Manager Menu: Unapproved Entries</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

</head>
<body>
    
    <div class = "navbar">
    <a id="link" href="/users/manager/">
        <img src= "{% static 'images/navbarlogo.png' %}" class="logo" alt =" < $ > Full-Stacks">
    </a>

        <div class="dropdown">
        <button class = "dropbtn"> Accounts</button>
                <div class="dropdown-content">
                    <a href="/users/administrator/"> View Accounts </a>
                      <a href="/charts_accounts/view_event_log/"> Event Log</a>
                </div>
        </div>
        <div class="dropdown">
            <button class = "dropbtn">Journals</button>
                    <div class="dropdown-content">
                        <a href="/journals_ledger/journal_entry/"> New Entry </a>
                        <a href="/journals_ledger/manager/unapproved_entries/"> Approve/Reject Entries</a>
                    </div>
        </div>

        <div class="dropdown">
            <a href="{% static 'images/FULLSTACKS_Manual_t1.pdf' %}" id = "help"> Help</a>
        </div>
            <div class="dropdown"  id="profile">
            <div class="profile_tab">
                <div class="circle" id="profile_pic">
                     <img src= "{% static 'images/velociraptor.png' %}" class="profile_picture" alt ="..Load Image..">
                </div>
                <label for="profile_pic" class="profile_pic_label"> {{current_manager}} </label>
                <div class="dropdown-content">
                    <a href="/users/"> Log Out </a>
                </div>
            </div>
            </div>

    </div>

</br></br></br>

<h1 class="header1">Hello, Manager {{current_manager.last_name}}</h1>
<h2 class="header2">From this page, you can approve or reject requests for a new Journal Entry.</h2>
</br></br></br></br>


<form class="d-flex" method="POST" action="{% url 'search_journals' %}">

{% csrf_token %}

<input class="form-control m-2" type = "search" placeholder="Search Journals" aria-label="Search"
name="searched" >
<button class=" btn btn-outline-secondary" type=" submit"> Submit </button>

</form>

<div class="container">
</br>
<a href="/users/manager/"> 
    <h3 class="back"><i class="fa fa-arrow-left fa-2x">  Go back</i></h3>
</a>
</br></br>


<table id="view_unapproved_entries" width="1200px">
    <tr>
        <th>Entry ID</th>
        <th>User ID</th>
        <th>Entry Description</th>
        <th>Date of Entry</th>
        <th>Debit Account</th>
        <th>Credit Account</th>
        <th>Amount Debited</th>
        <th>Amount Credited</th>
        <th>Pending Approval?</th>
        <th>Approver ID</th>
    </tr>

    {% for journal in journal_entries %}
        <tr>
            <td>{{journal.journal_entry_id}}</td>
            <td>{{journal.user_submission_id}}</td>
            <td>{{journal.initial_entry_description}}</td>
            <td>{{journal.date_of_entry}}</td>
            <td>{{journal.account_debit_id_id}}</td>
            <td>{{journal.account_credit_id_id}}</td>
            <td>{{journal.debit_amount}}</td>
            <td>{{journal.credit_amount}}</td>
            <td>{% if journal.is_approved %}
                    Approved
                    {% else %}
                    Unapproved
                {% endif %}
            </td>
            <td>
                {% if journal.approver_id == Unapproved %}
                    Unapproved
                    {% else %}
                    {{journal.approver_id}}
                {% endif %}
            </td>
            <td>
                {% if journal.is_approved == False %}
                    <form action="/journals_ledger/new_journal_entry_request/approve/" method="post">{% csrf_token %}
                        <input type="hidden" name="journal_id" value={{journal.journal_entry_id}}>
                        <button class="btn"><i class="fa fa-check"></i>
                            <span class="tooltip"><b>Approve</b><br>Approve the journal entry request</span>
                        </button>
                    </form>
                    <form>
                        <button class="btn" id="reject_button" type="button" data-toggle="modal"><i class="fa fa-trash"></i>
                             {% with curr_journal_id=journal.journal_entry_id %}
                                {{curr_journal_id}}
                             {% endwith %}
                            <span class="tooltip"><b>Reject</b><br>Reject the journal entry request</span>
                        </button>
                        
                    </form>

                    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
                    

                    <script type="text/javascript">
                        $(document).on('submit','#reject_form',function(e){
                            e.preventDefault();
                            $.ajax({
                                type:'POST',
                                url:'/journals_ledger/new_journal_entry_request/save_reject_id/',
                                data:
                                {
                                    journal_id:$("#journal_id").val(),
                                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                                },
                                success:function(){    
                                    console.log('Saved');
                                    },
                                })
                            });
                        </script>
                    {% else %}

                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
</div>




<!-- Modal Section -->

<div class="bg-modal">
    {{curr_journal_id}}
    <div class="modal-content">
        <div class="close">+</div>
        <form action="/journals_ledger/new_journal_entry_request/reject/" method="post">{% csrf_token %}
            <input type="hidden" name="journal_id" value={{curr_journal_id}}>
            <label for="rejection_comment">Reason for rejection: </label></br>
            <textarea id="rejection" name="rejection_comment" rows="5" cols="50" placeholder="Please input your reason for rejecting this journal."></textarea></br>

            <input type="submit" value="Submit">
        </form>
    </div>


</div>

<script>
    document.getElementById('reject_button').addEventListener('click',
    function() {
        document.querySelector('.bg-modal').style.display = 'flex';
    });

    document.querySelector('.close').addEventListener('click',
    function() {
        document.querySelector('.bg-modal').style.display = 'none';
    });
</script>


{% if messages %}
<ul class="messages">
   {% for message in messages %}
   <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
   {% endfor %}
</ul>
{% endif %}

</body>
</html>